<h1>La liste des étudiants</h1>
<table>
<tr>
  <th>NSC</th>
  <th>Email</th>
  <th>Nom de la classe</th>
</tr>
<tr>
  {% for i in students %}
  <td>{{i.nsc}}</td>
  <td>{{i.email}}</td>
  <td>{{i.classroom.name}}</td>
</tr>
{% endfor %}
</table>